aiohttp
discord-ext-menus
discord.py @ git+https://github.com/Rapptz/discord.py
emoji
fuzzywuzzy # i promise, this exists for a good reason
jishaku
lru-dict
numpydoc
parsedatetime
python-dateutil
python-environ
python-Levenshtein
PyYAML
sentry-sdk
typing_extensions